/*!
Theme Name: Ransom
Theme URI: http://staplewebdesign.com/ransom
Description: A Minimal Starting point for Staple Web Design WordPress Themes. Named after the automotive pioneer Ransom Eli Olds. testing
Version: 0.9
Author: Andy Staple
Author URI: http://www.staplewebdesign.com
Tags: clean,minimal,starter
*/

/*
===========================
CONTENTS:

00 Imports of Partials
01 Sensible defaults
02 Typography
03 Main
===========================
*/

// Imports
@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "partials/wp-defaults";
@import "partials/layout-articles";
@import "partials/motion";


// Sensible defaults
.group:after {
	// For Clearing Floats
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden;
}
body {
	font-family: $base-font-family;
	font-size: 18px; font-size: 1.125rem;
	line-height: 1.5;
	padding-top: 0px;
	margin: 0;
	background-color: #ffffff;
}
img {
	max-width: 100%;
  height: auto;
}

::-moz-selection 	{ background:#f66; color:#fff; }
::selection 		{ background:#f66; color:#fff; }
.hide, #skipLink { display: none; }

.h {
  display: none;
}

// Header
.masthead {
	background: $light-gray;
	padding: 1em;
}
.header-container {
	@include outer-container;
	margin: 0 auto;
}
.logo {
	@include span-columns(4);

	@include media($medium) {
		@include span-columns(2);
	}
}
.dl-menuwrapper {
	@include span-columns(8);

	@include media($medium) {
		@include span-columns(4);
	}
}

// Main Body
.content-wrap {
	@include outer-container;
	margin: 0 auto;
	padding: 4rem 0;
}
.article-wrap {
	@include span-columns(8);

	@include media($medium) {
		@include span-columns(4);
	}
	@include media($small) {
		@include span-columns(4);
	}
}
.main-sidebar {
	@include span-columns(4);
	background: $light-gray;
	padding: 20px;

	@include media($medium) {
		@include span-columns(2);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

#main {
}
article.type-post {

}
.entry-meta {
  color: $medium-gray;
  font-size: 12px;
  text-transform: uppercase;
}

// Footer
.site-footer {}
.site-info {
	@include outer-container;
	margin: 1em auto;
}


/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {
}
