/*!
Theme Name: Ransom
Theme URI: http://staplewebdesign.com/ransom
Description: A Minimal Starting point for Staple Web Design WordPress Themes. Named after the automotive pioneer Ransom Eli Olds.
Version: 0.9
Author: Andy Staple
Author URI: http://www.staplewebdesign.com
Tags: clean,minimal,starter
*/
/*
===========================
CONTENTS:

00 Imports of Partials
01 Sensible defaults
02 Typography
03 Main
===========================
*/
body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2em;
  padding: 1rem 0;
}

h3 {
  font-size: 1.75em;
  padding: 1rem 0;
}

h4 {
  font-size: 1.5em;
  padding: 1rem 0;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #477DCA;
  text-decoration: none;
  transition: color 0.1s linear;
}

a:hover {
  color: #2c5999;
}

a:active, a:focus {
  color: #2c5999;
  outline: none;
}

hr {
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted #eeeeee;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 0.75em;
}

hgroup {
  margin-bottom: 0.75em;
}

del {
  color: #595959;
}

blockquote {
  border-left: 2px solid #eeeeee;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

cite {
  color: #737373;
  font-style: italic;
}

cite:before {
  content: '\2014 \00A0';
}

fieldset {
  background: white;
  border: 1px solid #eeeeee;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}

label.required:after {
  content: "*";
}

label abbr {
  display: none;
}

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  box-sizing: border-box;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #eeeeee;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}

textarea:hover,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #d5d5d5;
}

textarea:focus,
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #477DCA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #c8c8c8;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0;
}

tr, td, th {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}

dl dd {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.article_list article.post {
  padding: 3.5rem 0;
  border-bottom: 1px solid #eeeeee;
}

.article_list article.post:first-child {
  padding-top: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.group:after {
  display: block;
  height: 0;
  clear: both;
  content: ".";
  visibility: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  padding-top: 0px;
  margin: 0;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  background: #f66;
  color: #fff;
}

::selection {
  background: #f66;
  color: #fff;
}

.hide, #skipLink {
  display: none;
}

.h {
  display: none;
}

.masthead {
  background: #eeeeee;
  padding: 1em;
}

.header-container {
  max-width: 66.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.header-container::after {
  clear: both;
  content: "";
  display: table;
}

.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

.logo:last-child {
  margin-right: 0;
}

@media screen and (min-width: 12.5em) and (max-width: 53.75em) {
  .logo {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  .logo:last-child {
    margin-right: 0;
  }
}

.dl-menuwrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}

.dl-menuwrapper:last-child {
  margin-right: 0;
}

@media screen and (min-width: 12.5em) and (max-width: 53.75em) {
  .dl-menuwrapper {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
  }
  .dl-menuwrapper:last-child {
    margin-right: 0;
  }
}

.content-wrap {
  max-width: 66.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 4rem 0;
}

.content-wrap::after {
  clear: both;
  content: "";
  display: table;
}

.article-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}

.article-wrap:last-child {
  margin-right: 0;
}

@media screen and (min-width: 12.5em) and (max-width: 53.75em) {
  .article-wrap {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
  }
  .article-wrap:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 10px) and (max-width: 32.5em) {
  .article-wrap {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
  }
  .article-wrap:last-child {
    margin-right: 0;
  }
}

.main-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: #eeeeee;
  padding: 20px;
}

.main-sidebar:last-child {
  margin-right: 0;
}

@media screen and (min-width: 12.5em) and (max-width: 53.75em) {
  .main-sidebar {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  .main-sidebar:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 10px) and (max-width: 32.5em) {
  .main-sidebar {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
  }
  .main-sidebar:last-child {
    margin-right: 0;
  }
}

.entry-meta {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.site-info {
  max-width: 66.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto;
}

.site-info::after {
  clear: both;
  content: "";
  display: table;
}

/* Retina Display */

/*# sourceMappingURL=maps/style.css.map */
